:root {
    --branco: #ffffff;
    --branco-transp: rgba(255, 255, 255, 0.5);
    --cinza-transp: rgba(120, 120, 120, 0.5);
    --dark-blue: #020308;
    --cor-sol: #FCD53F;
    --cor-lua: #8D65C5;
  }
  